* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Noto Sans Mono", monospace;
  line-height: 1.4;
  color: #fff;
  text-align: center;
  background-color: rgb(7, 7, 24);
}
/* .clearfix::after {
  content: "";
  display: block;
  clear: both;
} */
.home-page {
  width: 100%;
  height: 100vh;
  position: relative;
  background-image: linear-gradient(rgba(4, 9, 30, 0.9), rgba(4, 9, 30, 0.8)),
    url(images/back-ground.png);
  background-attachment: scroll;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  grid-template-columns: 1fr;
  /* grid-gap: 10px; try later- grid-gap: 2em; */
}

.blog-header {
  display: flex;
  padding: 2% 6%;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  position: sticky;
}
.logo img {
  width: 100px;
  margin: 20px;
}
.web-title {
  font-size: 65px;
  text-transform: uppercase;
  justify-content: center;
}

ul {
  font-size: x-large;
}
.nav-links ul li {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  position: relative;
}
.nav-links ul li a {
  color: #fff;
  text-decoration: none;
}
.nav-links ul li::after {
  content: "";
  width: 0%;
  height: 3px;
  background: rgb(252, 0, 0);
  display: block;
  margin: auto;
  transition: 0.5s;
}
.nav-links ul li:hover::after {
  width: 100%;
}
.text-box {
  text-align: center;
}
.text-box h1 {
  font-size: 52px;
}
.text-box p {
  margin: 10px 0 10px;
  font-size: 14px;
}
.insta-link {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 40px;
  gap: 20px;
}
.insta-link a {
  display: inline-block;
  /* position: relative; */
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
  padding: 12px 34px;
  font-size: 18px;
  background: transparent;
  cursor: pointer;
}
.insta-link a:hover {
  border: 1px solid #fff;
  background: #fff;
  color: #000;
  transition: 0.5s;
}

/* Following is to resize in according to smaller screen*/
nav .fa {
  display: none;
}

/* On smaller screens, decrease text size */
@media screen and (max-width: 736px) {
  h1 .text-box h1 {
    font-size: 20px;
  }
  .text-box p {
    padding: 4rem 1rem 1rem 1rem;
  }
  .nav-links ul li {
    display: block;
  }
  .nav-links ul {
    padding: 30 px;
    text-align: center;
  }
  .nav-links {
    position: absolute;
    background: rgb(0, 0, 0);
    top: 0;
    right: -200px;
    text-align: left;
    z-index: 2;
    transition: 0.5s;
  }
  nav .fa {
    display: block;
    color: #fff;
    margin: 10px;
    font-size: 20px;
    cursor: pointer;
  }
  .topArticles h1 {
    font-size: 20px;
  }
}
/* Top article about dog */

.topArticles h1 {
  font-size: 36px;
  font-weight: 600;
  text-align: center;
  padding: 8px 12px;
  /* position: absolute;
  top: 50%;
  width: 100%; */
}
.mySlides img {
  width: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* width: 50%; */
}

.mySlides {
  display: none;
}

/* Slideshow container */
.slideshow-container {
  max-width: 600px;
  position: relative;
  margin: auto;
}

/* Caption text */
.text {
  color: #ffffff;
  font-size: 15px;
  font-weight: bold;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* Types of dog breed */
.dogsTypes {
  height: auto;
  width: auto;
}
.dogsTypesContainer {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}
.dogsTypesContainer img {
  width: 250px;
  height: 250px;
}

@media (max-width: 700px) {
  .dogsTypesContainer img {
    width: 200px;
    height: 200px;
  }
  .dogsTypesContainer {
    display: block;
    margin-top: 30px;
  }
}

.commonNames ul {
  margin: 100px;
  text-align: center;
  list-style-type: circle;
}
.commonNames ul.myUL {
  display: inline-block;
  text-align: left;
}

@media screen and (max-width: 736px) {
  #nav .close {
    height: 8rem;
    line-height: 8rem;
  }
}

@media screen and (max-width: 980px) {
  #nav {
    display: block;
  }
}
